.grid {
  /* margin: 20px 0 0 0; */
  scale: none;
}

.inputs {
  display: inline-block;
}

input {
  color: white;
  text-align: center;
  width: 6em;
  height: 2.9em;
  border: none;
  border-radius: 0.6rem;
  box-shadow: rgba(72, 135, 202, 0.8) 0 0 4px 2px;
  margin: 0 1em 1em 1em;
  background-color: #171717;
}

input::placeholder {
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #171717;
  padding: 1em 2em;
  border: none;
  border-radius: 0.6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin: 1em  1em 1em 1em;
  box-shadow: rgba(72, 135, 202, 0.8) 0 0 4px 2px;

}

button span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #0c66ed;
  border-radius: 50%;
  transition: .6s ease;
}

button span:nth-child(6) {
  position: relative;
}

button span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

button span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

button span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

button span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

button span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

button:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}

.result-message {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
  margin: 0.4em;
  color: #ffffff;
  /* border: 1px solid #ffee00; */
  box-shadow: rgba(72, 135, 202, 0.8) 0 0 4px 2px;
  padding: 10px;
  border-radius: 5px;
}
